body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.centered {
    text-align: center;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #e7b349;
}

.main-header__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1.5rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #e73939;
}

/* Định dạng cho tiêu đề h1 */
h1 {
    font-size: 2em; /* Kích thước chữ lớn hơn */
    color: #333; /* Màu chữ tối */
    text-align: center; /* Canh giữa */
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

/* Định dạng cho thông báo lỗi */
.user-message {
    padding: 10px 15px; /* Khoảng cách bên trong */
    border-radius: 5px; /* Bo tròn các góc */
    margin-bottom: 20px; /* Khoảng cách dưới thông báo */
}

/* Định dạng riêng cho thông báo lỗi */
.user-message--error {
    background-color: #f8d7da; /* Màu nền nhạt cho thông báo lỗi */
    color: #721c24; /* Màu chữ cho thông báo lỗi */
    border: 1px solid #f5c6cb; /* Đường viền cho thông báo lỗi */
}
