<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

</head>
<body>
<%- include('../includes/navigation.ejs') %>
<section>
    <p>
        We appreciate your business! If you have any questions, please email
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
</section>
<%- include('../includes/end.ejs') %>
